<link rel="stylesheet" href="/styles/bootstrap.min.css">
<br> <br>
<div class="container">

    <!-- Displaying stats -->
    <div class="row">
        
        <div class="col-md-12">
            Total entries: <b><%- total %></b>
        </div>
    
    </div>
 
    <!-- Displaying the records -->
    <div class="row">
        
        <% for(let i = 0; i< terms.length; i ++) { let term = terms[i]; %>
        <div class="col-md-6 item-object">
            <div class="bs-callout bs-callout-warning" id="callout-formgroup-inputgroup">
                <h3><a href='/entryinfo/<%- term.id %>/<%-term.key.replace(/ /g , "-")%>'><%- term.key %></a></h3> 
                <p><%- term.description %></p> 
            </div>
        </div>
        <% } %>
    </div>
</div>